<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 根标签 -->
<configuration>
    <properties>
        <property name="driver" value="oracle.jdbc.driver.OracleDriver" />
        <property name="url" value="jdbc:oracle:thin:@//134.101.247.188:1521/nbkhdb" />
        <property name="username" value="nb10000" />
        <property name="password" value="sbj574*" />
    </properties>
    <!-- 环境，可以配置多个，default：指定采用哪个环境 -->
    <environments default="test">
        <!-- id：唯一标识 -->
        <environment id="test">
            <!-- 事务管理器，JDBC类型的事务管理器 -->
            <transactionManager type="JDBC" />
            <!-- 数据源，池类型的数据源 -->
            <dataSource type="POOLED">
                <property name="driver" value="oracle.jdbc.driver.OracleDriver" />
                <property name="url" value="jdbc:oracle:thin:@//134.101.247.188:1521/nbkhdb" />
                <property name="username" value="nb10000" />
                <property name="password" value="sbj574*" />
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/project/view/zj_Report_Public_Dao.xml" />
        <mapper resource="com/project/view/zj_Report_XubaoDao.xml" />
        <mapper resource="com/project/view/zj_Report_TcfDao.xml" />
        <mapper resource="com/project/view/zj_Report_WyjDao.xml" />
        <mapper resource="com/project/view/zj_Report_KdDao.xml" />
        <mapper resource="com/project/view/zj_Report_ZtDao.xml" />
        <mapper resource="com/project/view/zj_Report_RhItvDao.xml" />
        <mapper resource="com/project/view/zj_Report_OtherDoneDao.xml" />
        <mapper resource="com/project/view/zj_Report_ZssDao.xml" />
        <mapper resource="com/project/view/zj_Report_Kd_QzDao.xml" />
        <mapper resource="com/project/view/zj_Report_Znzw_Dao.xml" />
        <mapper resource="com/project/view/zj_Report_Kj_Dao.xml" />
    </mappers>
</configuration>